* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit';
}

@font-face {
    font-family: 'YoungSerif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}


body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
}

.card img {
    width: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'YoungSerif';
    font-weight: 400;
    font-size: 34px;
    padding-bottom: 10px;
}


.prep {
    padding: 20px;
    margin: 20px 0px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
}

li {
    padding: 5px;
    margin-left: 20px;
}

.prep h3 {
    color: hsl(332, 51%, 32%);

}

.headline {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    font-family: 'YoungSerif';
    padding-bottom: 10px;
}

.divider {
    color: hsl(30, 18%, 87%);
    margin: 20px 0px;
    opacity: 40%;
}

ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

table {
    margin: 20px 0px 20px 0px;
    border-collapse: collapse;
}
table td {
    padding: 10px 0px 10px 30px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.value {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    body {
        background-color: transparent;

    }
    .card {
        max-width: 375px;
        margin: 0px;
    }
    .card img {
        border-radius: 0px;
        margin: -30px;
        padding-bottom: 50px;
    }
}